<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select label="Productos" placeholder="Seleccione un producto" (ionChange)="handleChange($event)">
        @for (item of (products | async) ?? []; track item) {
          <ion-select-option [value]="item.id">{{ item.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Por favor selecciona una imagen!</h3>

	<ion-list>
		<ion-item *ngFor="let file of images; let i = index">
			<ion-thumbnail slot="icon-only">
				<ion-img [src]="file.data"></ion-img>
			</ion-thumbnail>
			<ion-label class="ion-text-wrap"> {{ file.name }} </ion-label>
			<ion-button slot="end" fill="clear" (click)="startUpload(file)">
				<ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
			</ion-button>
			<ion-button slot="end" fill="clear" (click)="deleteImage(file)">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer class="icons">
  <ion-button fill="solid" shape="round" size="large" color="primary" (click)="selectImage()">
    <ion-icon slot="icon-only" name="images-outline"></ion-icon>
  </ion-button>
	<ion-button fill="solid" shape="round" size="large" color="primary" (click)="takeImage()">
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-footer>
