<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select
        label="Productos"
        placeholder="Seleccione un producto"
        interface="action-sheet"
        (ionChange)="handleChange($event)">
        @for (item of (products | async) ?? []; track item) {
          <ion-select-option [value]="item.id">{{ item.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Por favor selecciona una imagen!</h3>

	<ion-list>
		<ion-item *ngFor="let file of images; let i = index">
      <img [src]="file.data" alt="image" width="250px">
			<ion-button slot="end" fill="clear" (click)="deleteImage(file)">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer class="icons">
  <ion-fab class="icons">
    <ion-fab-button (click)="selectImage()">
      <ion-icon name="images-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="takeImage()">
      <ion-icon name="Camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
